/* Add CSS Styling */

.odd {
    background-color: rgba(255, 89, 60, 0.624);
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.adjust-font-size {
    font-size: 24px;
}

#num2 {
    color: rgb(21, 21, 255);
    font-size: 36px;
}

#num4 {
    background-color: rgba(82, 255, 63, 0.419);
    font-weight: 800;
}