/* Add CSS Styling */
button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}

button.button1 {
    background-color: black;
    color: white
}

button.button2 {
    background: yellow;
}