body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px 5px 10px 5px;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.content {
  background: #e3f4ff;
  padding: 10px 5px 10px 5px;
  margin: 10px 0 10px 0;
}

.button-container {
  background: #e3f4ff;
  padding: 10px 5px 10px 5px;
  margin: 10px 0 0px 0;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  margin: 0px auto;
}